<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<th:block th:replace="fragments/risorse :: risorseHead"></th>
		
		<title>Menu</title>
		
	</head>
	
	<body>
	
		<header>
		
			<nav th:replace="fragments/navbar :: navbar('menu')"></nav>
			
		</header>
		
		<main>
		
			<div class="container-fluid">
			
				<div class="col-12">
				
					<th:block th:if="${successMessage != null && successMessage != ''}">
					
				  		<div th:text="${successMessage}" class="alert alert-success text-dark"></div>
				  	
				  	</th:block>
				
					<h1>Menu</h1>
						
					<table class="table table-dark table-striped" th:if="${pizze.size() > 0}">
					
						<thead>
						
							<tr class="fs-3">
							
								<td>Nome</td>
								<td>Prezzo</td>
								<td>Descrizione</td>
								<td><a class="btn btn-success my-2" th:href="@{/menu/aggiungi}"><i class="fa-solid fa-plus"></i></a></td>
								
							</tr>
						
						</thead>
						
						<tbody>
							
							<tr th:each="p :${pizze}">
								
								<td th:text="${p.nome}"></td>
								<td th:text="${p.getPrezzoFormattato()}"></td>
								<td th:text="${p.descrizione}"></td>
								<td>
								
									<a class="btn btn-primary my-2" th:href="@{|/menu/modifica/${p.id}|}"><i class="fa-solid fa-pen-to-square"></i></a>
									<a class="btn btn-danger my-2" th:href="@{|/menu/elimina/${p.id}|}"><i class="fa-solid fa-trash-can"></i></a>
									
								</td>	
							
							</tr>
							
						</tbody>
					
					</table>
				
				</div>
				
			</div>
			
			<div class="container-fluid" th:unless="${pizze.size() > 0}">
				
				<table class="table table-dark table-striped">
					
						<thead>
						
							<tr class="fs-3">
							
								<td>Nome</td>
								<td>Prezzo</td>
								<td>Descrizione</td>
								<td><a class="btn btn-success my-2" th:href="@{/menu/aggiungi}"><i class="fa-solid fa-plus"></i></a></td>
								
							</tr>
						
						</thead>
												
				</table>	
				
				<div  class="alert alert-info">
				
					<h3>Non ci sono pizze disponibili nel menu</h3>
					
				</div>	
				
			</div>
			
			<th:block th:replace="fragments/risorse :: risorseJS"></th>
		
		</main>
		
	</body>
	
</html> 